<!-- =======Start Add poster> -=-=======>
<!-- The Modal -->
  <div class="modal Boxshadow" id="myModal3">
    <div class="modal-dialog">
        <div class="modal-content border-0">
          <!-- Modal Header -->
            <div class="modal-header bg-primary Boxshadow">
              <button type="button" class="close" data-dismiss="modal" style="color:white">&times;</button>
              <p class="modal-title text-center font-weight-bolder" style="font-size:15px;color:white">اضافة اعلان</p>
            </div>
          <!-- Modal body -->
              <form role="form" action="/save_poster" method="post" enctype="multipart/form-data" >
                  {% csrf_token %}
                <div class="modal-body">
                  <div class="form-group">
                    <label class="control-label float-right" required="true" >اسم المؤسسة</label>
                    <input type="text"  class="col-sm-12 Boxshadow" style="border: 1px solid #44A5E4;height:50px;border-radius:8px;" name="name">
                  </div>
                  <div class="form-group">
                    <label class="control-label float-right" >المحافظة </label>
                    <select class="col-sm-12 Boxshadow" style="border: 1px solid #44A5E4;height:50px;border-radius:8px;" name="region">
                      {% for region in regions %}
                        <option value="{{ region.id }}">{{ region.region }}</option>
                      {% endfor %}
                    </select>
                  </div> 
                  <div class="form-group">
                    <label class="control-label float-right">المكان بالضبط</label>
                    <input type="text" class="col-sm-12 Boxshadow" style="border: 1px solid #44A5E4;height:50px;border-radius:8px;" name="place">
                  </div>
                  <div class="form-group">
                    <label class="control-label float-right">التصنيف</label>
                    <select class="col-sm-12 Boxshadow" style="border: 1px solid #44A5E4;height:50px;border-radius:8px;" name="classification">
                      {% for classification in classifications %}
                        <option value="{{ classification.id }}">{{ classification.classification }}</option>
                      {% endfor %}
                    </select> 
                  </div> 
                  <div class="form-group">
                    <label class="control-label float-right">صورةالاعلان</label>
                    <input type="file" name="profile" class="col-sm-12 Boxshadow pt-3" style="border: 1px solid #44A5E4;height:50px;border-radius:8px;">
                  </div> 
                  <div class="form-group">
                    <label class="control-label float-right">الاعلان</label>
                    <textarea class="col-sm-12 Boxshadow" style="border: 1px solid #44A5E4;border-radius:8px;" rows="3" name="posts" placeholder="اكتب ..."></textarea>    
                  </div>
                  <div class="form-group">
                    <label class="control-label float-right">التاريخ</label>
                    <input type="date" class="col-sm-12 Boxshadow" style="border: 1px solid #44A5E4;height:50px;border-radius:8px;" name="date_poster">
                  </div>
                  <!-- <div class="form-group">
                    <label class="control-label float-right">الوقت</label>
                    <input type="time" class="col-sm-12 Boxshadow" style="border: 1px solid #44A5E4;height:50px;border-radius:8px;" name="time_poster">
                  </div>  -->
                  <!-- Modal footer -->
                  <div class="modal-footer center float-right">
                    <button type="submit" name="submit" style="border-radius:34px;background-color:#00C7FE;border:none;width:204px;height:41px;color:white;font-size:14px" class=" text-center font-weight-bolder">
                      <i class="fas fa-check"></i> حفظ
                    </button>
                    <button class="btn btn-danger" data-dismiss="modal" style="border-radius:34px;border:none;width:204px;height:41px;color:white;font-size:14px" class=" text-center font-weight-bolder">
                      <i class="fas fa-times"></i> اغلاق
                    </button>
                  </div>
                </div>
              </form>
      </div>
    </div>
  </div> 


  <div class="row">
    <div class="col-lg-5" style="margin-right:400px">
        <div class="form-group">
             {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <div class="alert alert-success">{{ message }}</div>
                        {% elif message.tags == 'error' %}
                            <div class="alert alert-danger">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
             {% endif %}
        </div>
    </div>
</div>
</div>   