<!--=======Start Add poster Page========-->
<!-- The Modal -->
<div class="modal Boxshadow" id="myModal3">
    <div class="modal-dialog">
        <div class="modal-content border-0">
            <!-- Modal Header -->
            <div class="modal-header bg-primary">
                <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                <p class="modal-title text-center text-white font-size3">اضافة اعلان</p>
            </div>
            <!-- Modal body -->
            <!-- form start -->
            <form role="form" action="/save_poster" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group mt-3">
                        <label class="control-label float-right">اسم المؤسسة</label>
                        <input type="text" class="col-sm-12 Boxshadow Borders4 H2 Borders7" name="name">
                    </div>
                    <div class="form-group">
                        <label class="control-label float-right">المحافظة </label>
                        <select class="col-sm-12 Boxshadow Borders4 H2 Borders7" name="region">
                      {% for region in regions %}
                        <option value="{{ region.id }}">{{ region.region }}</option>
                      {% endfor %}
                    </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label float-right">المكان بالضبط</label>
                        <input type="text" class="col-sm-12 Boxshadow Borders4 H2 Borders7" name="place">
                    </div>
                    <div class="form-group">
                        <label class="control-label float-right">التصنيف</label>
                        <select class="col-sm-12 Boxshadow Borders4 H2 Borders7" name="classification">
                            {% for classification in classifications %}
                            <option value="{{ classification.id }}">{{ classification.classification }}</option>
                            {% endfor %}
                         </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label float-right">صورةالاعلان</label>
                        <input type="file" name="profile" class="col-sm-12 Boxshadow Borders4 H2 Borders7 pt-3">
                    </div>
                    <div class="form-group">
                        <label class="control-label float-right">الاعلان</label>
                        <textarea class="col-sm-12 Boxshadow Borders4 H2 Borders7" rows="3" name="posts" placeholder="اكتب ..."></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label float-right">التاريخ</label>
                        <input type="date" class="col-sm-12 Boxshadow Borders4 H2 Borders7" name="date_poster">
                    </div>
                    <!-- <div class="form-group">
                    <label class="control-label float-right">الوقت</label>
                    <input type="time" class="col-sm-12 Boxshadow" style="border: 1px solid #44A5E4;height:50px;border-radius:8px;" name="time_poster">
                  </div>  -->
                    <!-- Modal footer -->
                    <div class="modal-footer center">
                        <button type="submit" name="submit" class="text-center Borders1 bg-primary border-0 text-white font-size3" style="width:204px;height:41px">
                        <i class="fas fa-check"></i> حفظ
                    </button>
                        <button data-dismiss="modal" class="text-center Borders1 bg-danger border-0 text-white font-size3" style="width:204px;height:41px"> 
                      <i class="fas fa-times"></i> اغلاق
                  </button>
                    </div>
                </div>
            </form>
            <!-- form end -->
        </div>
    </div>
    <div class="form-group">
        {% if messages %} {% for message in messages %} {% if message.tags == 'error' %}
        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
        {% endif %} {% if message.tags == 'success' %}
        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
        {% endif %} {% endfor %} {% endif %}
    </div>
    <!--=======End Add poster ========-->