{% extends 'hod_template/base_template.html' %} {% load static %}
<!-- /* ======== Start Comment Page======== */ -->
{% block main_content %}
<div class="background2">
    <p class="font-weight-bold pt-5 pb-5 mr-5 text-primary font-size1"> الآراء و المقترحات</p>
    <label class="pt-3 float-right mr-5 font-weight-bold">كتابة تعليق </label>
    <form role="form" action="/add_comment_save" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="comment.id" value="{{comment.id}}">
        <input type="hidden" name="user" value="{{user}}">
        <input type="hidden" name="comment.comm_name" value="{{comment.comm_name}}">
        <div class="Borders border-0 bg-white Boxshadow mr-4 ml-4" style="margin-top:80px">
            <!-- <input type="text"  class="col-sm-12 Boxshadow" style="border: 1px solid #44A5E4;height:50px;border-radius:8px;" name="admin"> -->
            <textarea class="Borders border-0  bg-white p-4" style="width:100%;height:160px" name="body" placeholder="  اترك تعليق......."></textarea>
            <button type="submit" name="submit" class="btn btn-primary btn-block Boxshadow font-weight-bolder H2 Borders6" value="Comment" style="margin-top:28px">نشر التعليق</button>
        </div>
    </form>
    <div style="margin-top:70px">
        <label style="margin-top:-40px" class="font-weight-bolder float-right mr-5">كل التعليقات </label>
        <span class="font-size3 text-white float-right badge rounded-circle pt-3 pb-3 pr-4 pl-4 Boxshadow bg-primary" style="border:4px solid white;margin-right:200px;margin-top:-55px" data-placement="top" title="عدد التعليقات">{{num_com}}</span>
    </div>
    {% if comments %} {% for comment in comments %}
    <div class="Borders border-0 bg-white Boxshadow pt-4 pb-2 mr-4 ml-4 Borders4 mt-4 mb-2">
        <img style="width:75px" class="rounded-circle mr-4" src="{{profile_pic}}" alt="Comment">
        <h4 class="text-primary mr-5">{{comment.author}}</h4>
        <div class="row">
            <div class="col">
                <h5 class="mr-4">{{comment.comm_name}}</h5>
            </div>
            <div class="col">
                <p class="font-size3"><small><i class="text-danger mr-5">نشر  في ...</i></small>{{ comment.date_comment }}{{ comment.created_at}}</p>
            </div>
            <div class="col">
                <a class="float-left ml-5" href="{% url 'delete_comment' comment.id %}"><i class="text-primary fas fa-trash-alt"></i></a>
            </div>
        </div>
        <div class="p-2 mr-3 ml-3 mt-3 text-center">
            {{ comment.body }}
        </div>
        <div class="mt-5 row pb-2">
            <form action="{% url 'like_comment' comment.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" , name="comment_id" , value="{{ comment.id }}" class="bg-white border-0 mr-3" style="width:100px">
                    <i class="text-danger far fa-heart mt-2 mr-4"></i>
                    <p class="font-weight-bold float-left" style="font-size:13px">اعجبني</p>
                    <br/><br/><small class="mr-4 text-primary">{{ comment.likes.count }}</small><small class="mr-2"> إعجاب</small>
                </button>
            </form>
            <i class="text-danger far fa-comment mr-5 ml-2 mt-2" data-toggle="modal" data-target="#Reply"></i>
            <p class="font-weight-bolder">رد</p>
        </div>
    </div>
    {% endfor %}
    <!--======Start Pagination Member =========-->
    {% include 'iraq/pagination_comment.html' with page=comments %}
    <!--======End Pagination Member =========-->
    {% else %}
    <div class="Boxshadow text-center mt-5 mr-4 ml-4 background Borders1">
        <div class="row">
            <div style="margin-right:380px">
                <div class="mt-2 mb-2">
                    <p class="card-title font-weight-bold pb-4 pt-4 text-primary text-center" style="font-size:25px"> لا توجد معلومات</p>
                    <img class="mb-4" src="{% static 'iraq/images/informationR.png' %}" style="height:228px; width:313px; margin-right: 70px;margin-top:20px" alt="Not Found">
                </div>
            </div>
        </div>
    </div>
    {% endif %} {% include 'iraq/reply.html' %}
</div>
{% endblock %}
<!-- /* ======== End Comment Page======== */ -->