{% block custom_css %}
<style>
  {% comment %} .RLicon:hover{
    background: red;
    transform: translate(0; -10px);
    } {% endcomment %}
  
</style>

{% endblock custom_css %}
  <ul class="pagination mt-5" >
    {% if page.has_previous %}
    <li style="margin-right:2%;margin-left:80%;margin-top:-450px">
      <a style="height:40px;width:40px;border-radius:50%" class="Boxshadow badge badge-primary" href="?page={{page.previous_page_number}}"><i class=" mt-2 fas fa-angle-right fa-2x"></i></a>
    </li>
    {% else %}
    <li class="disabled" style="margin-right:2%;margin-left:80%;margin-top:-450px">
      <a href="#" tabindex="-1" style="height:40px;width:40px;border-radius:50%" class=" Boxshadow badge bg-white"><i class="mt-2 fas fa-angle-right fa-2x"></i></a>
    </li>
    {% endif %}
      <li aria-current="page">
        <a class="font-weight-bolder" href="#">{{page.number}}<span class="sr-only">(current)</span></a>
        <span class="p-1">من</span>
        <a class="font-weight-bolder " href="#">{{page.paginator.num_pages}}<span class="sr-only">(current)</span></a>
      </li>
    {% if page.has_next %}
    <li class="active" style="margin-top:-450px">
      <a style="height:40px;width:40px;border-radius:50%" class=" Boxshadow badge badge-primary" href="?page={{page.next_page_number}}"><i class="mt-2 fas fa-angle-left fa-2x"></i></a>
    </li>
    {% else %}
    <li class="disabled" style="margin-top:-450px">
      <a href="#" tabindex="-1" style="height:40px;width:40px;border-radius:50%" class=" Boxshadow badge bg-white"><i class="mt-2 fas fa-angle-left fa-2x"></i></a>
    </li>
    {% endif %}
  </ul>


