{% extends 'hod_template/base_template.html' %} {% load static %}
<!-- /* ======== Start Profile Page ======== */ -->

{% block main_content %}
<div class="pb-5 pt-5 background4">
    <!-- {% if user %} -->
    <form role="form" action="{% url 'profile_edit_admin' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <p class="font-weight-bold Color mt-5 text-center"> الملف الشخصي</p>
                <img style="width:190px;height:200px;border:10px solid white;margin-right:25%" class="mt-5 bg-success rounded-circle Boxshadow" src="/media/{{user.adminhod.profile_pic}}" alt="الصورة الشخصية">
                <div style="margin-right:46%;margin-top:-36px">
                    <span class="Boxshadow border-0 row badge badge-warning rounded-circle text-white" style="width:30px;height:30px" data-placement="top">
                    <i data-toggle="modal" data-target="#mypicture1" class="dd fas fa-camera fa-lg mt-1" data-placement="top" title="تعديل صورة الملف الشخصي"></i>
                    </span>
                </div>
                <!-- The Modal -->
                <div class="modal" id="mypicture1">
                    <div class="modal-dialog">
                        <div class="modal-content border-0">

                            <!-- Modal Header -->
                            <div class="modal-header bg-primary Boxshadow">
                                <button type="button" class="close" data-dismiss="modal" style="color:white">&times;</button>
                                <p class="modal-title text-center font-weight-bolder" style="font-size:15px;color:white">تعديل الملف الشخصي</p>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="form-group">
                                    <img class="mb-4" src="/media/{{user.adminhod.profile_pic}}" style="width:200px;height:100px;margin-right:100px">
                                    <label class="control-label float-right">صورة الملف الشخصي</label>{{user.adminhod.profile_pic}}
                                    <input type="file" name="profile" class="col-sm-12 Boxshadow pt-3" style="border: 1px solid #44A5E4;height:50px;border-radius:8px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <h5 class="mt-5 text-center" style="margin-right:120px">{{user.username}}</h5> -->
            </div>
            <div class="col-sm-11 col-md-7">
                <div class="row mt-5 col-sm-12 col-md-12">
                    <div class="row mt-4">
                        <div class="col-sm-11 col-lg-6">
                            <label class="mr-4 font-size3 Color mt-3">اسم المستخدم</label>
                            <input style="height:50px" type="text" class="mr-4 mt-2 form-control border-0" placeholder="الاسم" name="username" value="{{ user }}">
                        </div>
                        <div class="col-sm-11 col-lg-6">
                            <label class="mr-4 font-size3 Color mt-3">البريد الالكتروني</label>
                            <input style="height:50px" type="email" class="mr-4 mt-2 form-control border-0" id="email" placeholder="البريد الالكتروني" name="email" value="{{ user.email }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11 col-lg-6">
                            <label class="mr-4 font-size3 Color mt-3">رقم الهاتف</label>
                            <input style="height:50px" type="tel" class="mr-4 mt-2 form-control border-0" name="phone" value="{{ user.adminhod.phone }}">
                        </div>
                        <div class="col-sm-11 col-lg-6">
                            <label class="mr-4 font-size3 Color mt-3">المحافظة</label>
                            <select class="mr-4 mt-2 form-control border-0" style="height:50px" name="region" value="{{ user.adminhod.region }}">
                            {% for region in region %}
                              <option value="{{region.id}}" >{{ region }}</option>
                            {% endfor %}
                          </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11 col-lg-6">
                            <label class="mr-4 font-size3 Color mt-3">تاريخ الميلاد</label>
                            <input style="height:50px" type="date" class="mr-4 mt-2 form-control border-0" placeholder="تاريخ الميلاد" name="birth" value="{{ user.adminhod.birth }}">
                        </div>
                        <div class="col-sm-11 col-lg-6">
                            <label class="mr-4 font-size3 Color mt-3">الجنس</label>
                            <select class="mr-4 mt-2 form-control border-0" style="height:50px" name="gender" value="{{ user.adminhod.gender }}">
                          {% for gender in gender %}
                            <option value="{{gender.id}}" >{{ gender }}</option>
                          {% endfor %}
                          </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11 col-lg-6">
                            <label class="mr-4 font-size3 Color mt-3">الوظيفة</label>
                            <input style="height:50px" type="text" class="mr-4 mt-2 form-control border-0" placeholder="الوظيفة" name="employee" value="{{user.adminhod.employee}}">
                        </div>
                        <div class="col-sm-11 col-lg-6">
                            <label class="mr-4 font-size3 Color mt-3">كلمة المرور</label>
                            <input style="height:50px" type="password" class="mr-4 mt-2 form-control border-0" placeholder="كلمة المرور" name="password" value="{{user.password1}}">
                        </div>
                    </div>
                    <input type="hidden" value="{{ user.adminhod.id }}" name="id">
                    <button style="width:650px;height:50px" type="submit" class="mt-5 mb-5 mr-5 btn btn-primary">اضافة</button>

                    <div class="form-group">
                        {% if messages %} {% for message in messages %} {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %} {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}{% endfor %} {% endif %}
                    </div>
    </form>
    </div>
    </div>





    <!-- {% else %}
<div class="Boxshadow text-center background mt-4 Borders1 mr-4 ml-3 mb-3" style="height:440px;width:100%">
    <div class="row">
        <div class="m-auto">
            <div class="mt-2 mb-2">
                <p class="card-title font-weight-bold pb-4 pt-4 text-center Color" style="font-size:25px"> لا توجد معلومات</p>
                <img class="mb-4 " src="{% static 'iraq/images/informationR.png' %} " style="height:228px; width:350px; margin-right: 70px;margin-top:20px" alt="Not Found">
            </div>
        </div>
    </div>
</div>
    {% endif %} -->
    </div>
</div>
{% endblock main_content %}
<!-- /* ======== End Profile Page ======== */ -->