/* ======== Start Myframework ======== */


/* @media (max-width: 700px) { */


/* label #sidebar_btn {
z-index: 1;
color: #00A4ED;
cursor: pointer;
font-size: 20px;
transition: 0.5s;
transition-property: color;
margin-left: 60px
} */


/* label #sidebar_btn:hover {
color: #000000;
}
.content {
display: none;
} */


/* #check:checked~.navigation {
right: -190px;
position: fixed;
} */


/* .content {
display: block;
} */


/* } */

* {
    direction: rtl;
    text-align: right;
    font-family: 'tajawal';
}

.font-size {
    font-size: 13px;
}

.font-size1 {
    font-size: 20px;
}

.font-size3 {
    font-size: 15px;
}

.font-size4 {
    font-size: 14px;
}

.Color {
    color: #44A5E4;
}

.Color1 {
    color: rgb(110, 102, 102);
}

.Color2 {
    color: #6F2DBD;
}

.Color3 {
    color: #C51DB5;
}

.Color4 {
    color: #00C7FE;
}

.Color5 {
    color: #EFFEFE;
}

.background {
    background-color: #EFFEFE;
}

.background1 {
    background-color: #6F2DBD;
}

.background2 {
    background-color: #FAFAFA;
}

.background3 {
    background-color: #2699FB;
}

.background4 {
    background-color: #F6FCFD;
}

.background5 {
    background-color: #C51DB5;
}

.H {
    height: 45px;
}

.H1 {
    height: 150px;
}

.H2 {
    height: 50px;
}

.H3 {
    height: 60px;
}

.H4 {
    height: 70px;
}

.Width {
    width: 120px;
}

.image-width {
    width: 70px;
}

.image-width1 {
    width: 100%;
}

.image-height {
    height: 50px
}

.margin-right {
    margin-right: 3px;
}

.padding-top {
    padding-top: 100px;
}

.Borders {
    border-radius: 5px;
}

.Borders1 {
    border-radius: 27px;
}

.Borders2 {
    border-radius: 0px 0px 5px 5px;
}

.Borders3 {
    border-radius: 5px 5px 0px 0px;
}

.Borders4 {
    border-radius: 8px;
}

.Borders5 {
    border-radius: 8px 8px 0px 0px;
}

.Borders6 {
    border-radius: 0px 0px 8px 8px;
}

.Borders7 {
    border: 1px solid #44A5E4;
}

.Boxshadow {
    box-shadow: 0px 3px 6px #F1ECEC;
}

.Boxshadows {
    border: 8px solid #fff;
}

#container {
    margin: 50px 20px 20px 20px;
}

#container1 {
    margin: 25px 20px 20px 20px;
}

*/
/* ======== End Myframework ======== */

.c4i {
    margin-right: 35%;
}

#menu {
    background-color: white;
    text-align: center;
    border-radius: 8px;
    transition: 1s;
}

.nav-links {
    text-align: center;
    margin-left: 20px;
    line-height: 50px;
    font-weight: normal;
    color: #44A5E4;
    height: 50px;
    display: block;
}

nav ul li a:hover,
.active {
    transition: .5s;
    color: #8cc8f0;
    font-weight: bold;
}

.A1 {
    height: 97px;
    width: 97px;
    border: 5px solid white;
}


/* ======== Start login & register ======== */

.user_card {
    padding: 40px 40px 0px 40px;
    margin: 150px 0px;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.head-title {
    padding: 30px;
    margin: -40px -40px 0px -40px;
}

.head-title1 {
    margin: 40px -40px 0px -40px;
}


/* ======== End login & register ======== */

label #sidebar_btn {
    z-index: 1;
    color: #00A4ED;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    transition-property: color;
    margin-left: 60px
}

label #sidebar_btn:hover {
    color: #000000;
}

#check:checked~.navigation {
    right: -190px;
    position: fixed;
}

#check:checked~.navigation a .title {
    display: none;
}

#check:checked~.navigation .dd {
    display: none;
}

#check:checked~.navigation a {
    text-align: center;
    font-size: 16px;
    width: 60px;
    margin-right: 170px;
}

#check {
    display: none
}

.logout_btn {
    background: #00A4ED;
    color: white;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 2px;
    height: 40px;
    transition: 0.5s;
    transition-property: 'background';
}

.logout_btn:hover {
    background: #00A4ED;
    color: #fff
}

.content {
    margin-right: 240px;
    background-position: center;
}

#check:checked~.content {
    margin-right: 40px;
}

.pinkBg {
    background-color: #ed184f!important;
    background-image: linear-gradient(90deg, #fd5581, #fd8b55);
}

.intro-banner-vdo-play-btn {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 153%;
    left: 75%;
    text-align: center;
    margin: -30px 0 40 -30px;
    border-radius: 100px;
    z-index: 1
}

.intro-banner-vdo-play-btn i {
    line-height: 56px;
    font-size: 30px
}

.intro-banner-vdo-play-btn .ripple {
    position: absolute;
    width: 160px;
    height: 160px;
    z-index: -1;
    left: 50%;
    top: 50%;
    opacity: 0;
    margin: -80px 0 0 -80px;
    border-radius: 100px;
    -webkit-animation: ripple 1.8s infinite;
    animation: ripple 1.8s infinite
}

@-webkit-keyframes ripple {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes ripple {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.intro-banner-vdo-play-btn .ripple:nth-child(2) {
    animation-delay: .3s;
    -webkit-animation-delay: .3s
}

.intro-banner-vdo-play-btn .ripple:nth-child(3) {
    animation-delay: .6s;
    -webkit-animation-delay: .6s
}


/* ======== // Small devices (landscape phones, 576px and up) ======== */

@media (min-width: 320px) and (max-width: 800px) {
    .A1 {
        margin: 50px 40%;
    }
}


/* @media(max-width: 400px) {
.content {
visibility: hidden;
}
} */

@media (min-width: 360px) and (max-width: 374px) {}

@media (min-width: 375px) and (max-width: 383px) {}

@media (min-width: 384px) and (max-width: 410px) {}

@media (min-width: 411px) and (max-width: 413px) {}

@media (min-width: 414px) and (max-width: 449px) {}

@media (max-width: 576px) {
    /* ======== Start About ======== */
    #col {
        width: 100%;
    }
    #col1 {
        width: 100%;
        margin-top: 20px;
    }
    .c4i {
        margin: -40px 35% 0px 0px;
    }
    /* ======== End About ======== */
}


/* ======== // Medium devices (tablets, 768px and up) ======== */

@media (min-width: 600px) {
    /* ======== Start About ======== */
    #col1 {
        /* width: 100%; */
        margin-top: 20px;
    }
    .c4i {
        margin: -40px 42% 0px 0px;
    }
    /* ======== End About ======== */
}

@media (min-width: 768px) {
    /* ======== Start About ======== */
    .W {
        width: 220px;
        height: 120px
    }
    /* ======== End About ======== */
}


/* ======== // Large devices (desktops, 992px and up) ========= */

@media (min-width: 800px) {
    /* ======== Start About ======== */
    .A1 {
        margin: 50px 32%;
    }
    .W {
        width: 100%;
        height: 120px;
    }
    /* ======== End About ======== */
}

@media (min-width: 1024px) {}


/* ======== // Extra large devices (large desktops, 1200px and up) ========*/

@media (min-width: 1200px) {
    .height {
        height: 400px;
    }
    /* ======== Start About ======== */
    .A1 {
        margin: 50px 32%;
    }
    .W {
        width: 100%;
        height: 120px;
    }
    #col1 {
        width: 49%;
        margin: 0px 2% 0px 0px;
    }
    #col2 {
        width: 52%;
        margin: 0px 20px 0px 0px;
    }
}