{% extends 'user_template/base_template.html' %} {% load static %} {% block custom_css %}

<style>
    .custom-file {
        background-color: #6F2DBD;
        width: 50px;
        height: 30px;
        position: relative;
        margin: 0px 200px 20px 360px;
        z-index: 1;
    }
    
    .custom-file>span {
        font-size: 12px;
    }
    
    .custom-file input[type="file"] {
        width: 100%;
        height: 100%;
        margin: -40px -10px 0px 30px;
        opacity: 0;
        border-radius: 27px;
    }
</style>
{% endblock custom_css %} {% block main_content %}
<div style="background-color:#F6F7F9;padding-top:40px;padding-bottom:40px">
    <div class="bg-white Boxshadow Borders1" style="margin-right:20px; margin-left:20px;padding-bottom:60px">
        <p class="font-weight-bolder col-12 text-center" style="padding-top:60px;padding-bottom:40px;color:#2699FB;font-size:20px;">إرسال إشعار للمؤسسة</p>
        <img style="width:86.97px;height:73px;margin-right:45%;" class="" src="{% static 'iraq/images/vol1.png' %}" alt="Cinque Terre">
        <form role="form" action="/send_notification" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group border-0 ">
                <span class="row custom-file">
					<span class="badge w3-circle pt-1 pb-2 Boxshadow" style="width:35px; height:35px;margin-right:45%"><i style="color:#00C7FE;" class="fas fa-camera fa-2x" data-placement="top" title="اختر صورتك"></i>
					<input style="margin-right:-50px;margin-top:0px;opacity:0" type="file" name="profile" />
					</span>
                <label class="font-weight-bold pt-1" style="color:#6F2DBD;">اختر صورتك</label>
                </span>
            </div>
            <div class="form-group row">
                <label class="col-form-label font-weight-bolder mt-5 col-sm-12 col-md-1" style="font-size:14px;margin-right:20%">الاسم</label>
                <input class="mt-5 col-sm-12 col-md-5" type="text" style="border: 1px solid #44A5E4;width:95%;height:50px;border-radius:8px; box-shadow: 0px 3px 6px #F1ECEC;margin-right:5%;margin-left:5%" name="name">
            </div>
            <div class="form-group row">
                <label class="col-form-label font-weight-bolder col-sm-12 col-md-1" style="font-size:14px;margin-right:20%">العمر</label>
                <input class="col-sm-12 col-md-5" type="number" style="border: 1px solid #44A5E4;width:95%;height:50px;border-radius:8px; box-shadow: 0px 3px 6px #F1ECEC;margin-right:5%;margin-left:5%" name="age">
            </div>
            <div class="form-group row">
                <label class="col-form-label font-weight-bolder col-sm-12 col-md-1" style="font-size:14px;margin-right:20%">الجنس</label>
                <select type="text" name="gender" class="col-sm-12 col-md-5" style="border: 1px solid #44A5E4;width:95%;height:50px;border-radius:8px; box-shadow: 0px 3px 6px #F1ECEC;margin-right:5%;margin-left:5%">
					{% for gender in gender %}
					  <option value="{{ gender.id }}">{{ gender }}</option>
					{% endfor %}    
				</select>
            </div>
            <div class="form-group row">
                <label class="col-form-label font-weight-bolder col-sm-12 col-md-1" style="font-size:14px;margin-right:20%">المحافظة</label>
                <select class="col-sm-12 col-md-5" style="border: 1px solid #44A5E4;width:95%;height:50px;border-radius:8px; box-shadow: 0px 3px 6px #F1ECEC;margin-right:5%;margin-left:5%" name="region">
				{% for region in region %}
					<option value="{{ region.id }}">{{ region }}</option>
				{% endfor %}
				</select>
            </div>
            <div class="form-group row">
                <label class="col-form-label font-weight-bolder col-sm-12 col-md-1" style="font-size:14px;margin-right:20%">الوظيفة</label>
                <input class="col-sm-12 col-md-5" type="text" style="border: 1px solid #44A5E4;width:95%;height:50px;border-radius:8px; box-shadow: 0px 3px 6px #F1ECEC;margin-right:5%;margin-left:5%" name="employee">
            </div>
            <button type="submit" name="submit" class="btn btn-primary btn-lg  mt-5 pt-3 pb-2 Boxshadow" style="margin-right:20%;margin-left:20%;width:57%">ارسال</button>
    </div>
    </form>

</div>


<div class="row">
    <div class="col-lg-5" style="margin-right:400px">
        <div class="form-group">
            {% if messages %} {% for message in messages %} {% if message.tags == 'success' %}
            <div class="alert alert-success">{{ message }}</div>
            {% elif message.tags == 'error' %}
            <div class="alert alert-danger">{{ message }}</div>
            {% endif %} {% endfor %} {% endif %}
        </div>
    </div>
</div>
</div>

{% endblock main_content %}