{% extends 'user_template/base_template.html' %} {% load static %} {% block main_content %}
<div style="background-color:#F6F7F9">
    <p class="font-weight-bold pt-5 pb-5 mr-5" style="color:#2699FB;font-size:20px"> الآراء و المقترحات</p>
    <label class="pt-3 font-weight-bolder float-right mr-5 ">كتابة تعليق </label>
    <form role="form" action="/add_comment_save1" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- <input type="hidden" name="comment.id" value="{{comment.id}}"> -->
        <input type="hidden" name="user" value="{{user}}">
        <input type="hidden" name="comment.comm_name" value="{{comment.comm_name}}">
        <div class="Borders border-0  bg-white Boxshadow " style="height:240px;margin-right:30px;margin-left:20px;border-radius:10px;margin-top:80px">
            <!-- <input type="text"  class="col-sm-12 Boxshadow" style="border: 1px solid #44A5E4;height:50px;border-radius:8px;" name="admin"> -->
            <textarea class="Borders border-0  bg-white p-4 " style="width:100%;height:160px;border-radius:10px;" name="body" placeholder="  اترك تعليق......."></textarea>
            <button type="submit" name="submit" class="btn btn-primary btn-block Boxshadow font-weight-bolder" value="Comment" style="height:50px;margin-top:28px;border-radius:0px 0px 8px 8px">نشر التعليق</button>
        </div>
    </form>





    <div style="margin-top:70px">
        <label style="margin-top:-40px" class=" font-weight-bolder float-right mr-5">كل التعليقات </label>
        <span style="color:white;border:4px solid white;font-size:17px;margin-right:200px;margin-top:-62px" data-placement="top" title="عدد التعليقات" class="float-right badge rounded-circle pt-3 pb-3 pr-4 pl-4 Boxshadow bg-warning">{{num_com}}</span>
    </div>
    {% if comments %} {% for comment in comments %}
    <div class="Borders border-0  bg-white Boxshadow pt-4 pb-2" style="margin-right:30px;margin-left:20px;border-radius:10px;margin-bottom:20px;margin-top:20px">
        <img style="width:75px;" class=" rounded-circle mr-4" src="{{user.profile.profile_img.url}}" alt="Cinque Terre">
        <h4 style="color:#2699FB" class="mr-5">{{comment.author}}</h4>
        <h5 class="m-4">{{comment.comm_name}}<small class="mr-5"><i style="color:red">نشر  في ...</i>{{ comment.created_at}}</small></h5>
        <!-- <p class="font-weight-bolder float-left mt-4" style="color:#00C7FE;margin-left:900px">{{comment.user}}</p> -->
        <p class="" style="margin-right:100px">{{ comment.date_comment }}</p>
        <!-- <a class="float-left ml-5" href="{% url 'delete_comment' comment.id %}"><i style="color:#00C7FE;margin-top:-80px" class="fas fa-trash-alt"></i></a> -->
        <div class="p-2 mr-3 ml-3" style="">
            {{ comment.body }}
        </div>

        <div class=" mt-5 row pb-2" style="">

            <form action="{% url 'like_comment1' comment.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" , name="comment_id" , value="{{ comment.id }}" class="bg-white border-0 mr-3" style="width:100px">
                    <i style="color:red" class="far fa-heart mt-2 mr-4"></i>
                    <p class="font-weight-bold float-left" style="font-size:13px">اعجبني</p>
                    <br/><br/><small class="mr-4" style="color:#2699FB">{{ comment.likes.count }}</small><small class="mr-2"> إعجاب</small>
                </button>
            </form>



            <i style="color:red" class="far fa-comment mr-5 ml-2 mt-2" data-toggle="modal" data-target="#Reply"></i>
            <p class="font-weight-bolder" style="">رد</p>
        </div>
    </div>
    {% endfor %}
    <!--======Start Pagination Member =========-->
    {% include 'iraq/pagination_comment.html' with page=comments %}
    <!--======End Pagination Member =========-->
    {% else %}
    <div class="Boxshadow text-center" style="margin-top:65px;margin-right:30px;margin-left:20px;background-color: #EFFEFE;border-radius: 27px;">
        <div class="row">
            <div class=" " style="margin-right:380px">
                <div class=" mt-2 mb-2">
                    <p class="card-title font-weight-bold pb-4 pt-4" style="color:#2699FB;font-size:25px;margin-right:100px"> لا توجد معلومات</p>
                    <img class="mb-4" src="{% static 'iraq/images/informationR.png' %}" style="height:228px; width:313px; margin-right: 70px;margin-top:20px" alt="Cinque Terre">
                </div>
            </div>
        </div>
    </div>
    {% endif %} {% include 'iraq/reply.html' %}

</div>




{% endblock %}