{% extends 'user_template/base_template.html' %} {% load static %}
<!-- /* ======== Start Profile Page ======== */ -->

{% block main_content %}
<div class="pb-5 pt-3 background4">
    <div class="bg-white m-4 Boxshadow pb-5 Borders">
        <form role="form" action="{% url 'profile_edit_user' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <p class="font-weight-bold text-primary mt-5 text-center"> الملف الشخصي</p>
                    <img style="width:190px;height:200px;border:10px solid white;margin-right:25%" class="mt-5 bg-primary rounded-circle Boxshadow" src="/media/{{user.people.profile_pic}}" alt="الصورة الشخصية">
                    <div style="margin-right:46%;margin-top:-36px">
                        <span class="Boxshadow border-0 row badge badge-warning rounded-circle text-white" style="width:30px;height:30px" data-placement="top">
                        <i data-toggle="modal" data-target="#profile_pic" class="dd fas fa-camera fa-lg mt-1" data-placement="top" title="تعديل صورة الملف الشخصي"></i>
                        </span>
                    </div>
                    <!-- The Modal -->
                    <div class="modal" id="profile_pic">
                        <div class="modal-dialog">
                            <div class="modal-content border-0">

                                <!-- Modal Header -->
                                <div class="modal-header bg-primary Boxshadow">
                                    <button type="button" class="close" data-dismiss="modal" style="color:white">&times;</button>
                                    <p class="modal-title text-center font-weight-bolder" style="font-size:15px;color:white">تعديل الملف الشخصي</p>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="form-group">
                                        <img class="mb-4" src="/media/{{user.people.profile_pic}}" style="width:200px;height:100px;margin-right:100px">
                                        <label class="control-label float-right">صورة الملف الشخصي</label>{{user.adminhod.profile_pic}}
                                        <input type="file" name="profile" class="col-sm-12 Boxshadow pt-3" style="border: 1px solid #44A5E4;height:50px;border-radius:8px;">
                                        <button type="menu" class="bg-primary text-center font-weight-bolder text-white m-4 Borders1 border-0 font-size" style="width:204px;height:41px">
                                            <i class="fas fa-check"></i> حفظ
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <h5 class="mt-5 text-center" style="margin-right:120px">{{user.username}}</h5> -->
                </div>
                <div class="col-sm-11 col-md-7">
                    <div class="row mt-5 col-sm-12 col-md-12">
                        <div class="row mt-4">
                            <div class="col-sm-11 col-lg-6">
                                <label class="mr-4 font-size3 text-dark font-weight-bold mt-3">اسم المستخدم</label>
                                <div>
                                    <input style="height:50px" type="text" class="mr-4 mt-2 form-control border-0 Boxshadow bg-dark text-white" placeholder="الاسم" name="username" value="{{user.username}}">
                                </div>
                            </div>
                            <div class="col-sm-11 col-lg-6">
                                <label class="mr-4 font-size3 text-dark font-weight-bold mt-3">البريد الالكتروني</label>
                                <input style="height:50px" type="email" class="mr-4 mt-2 form-control border-0 Boxshadow bg-dark text-white" placeholder="البريد الالكتروني" name="email" value="{{ user.email }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-11 col-lg-6">
                                <label class="mr-4 font-size3 text-dark font-weight-bold mt-3">رقم الهاتف</label>
                                <input style="height:50px" type="tel" class="mr-4 mt-2 form-control border-0 Boxshadow bg-dark text-white" name="phone" value="{{ user.people.phone }}">
                            </div>
                            <div class="col-sm-11 col-lg-6">
                                <label class="mr-4 font-size3 text-dark font-weight-bold mt-3">المحافظة</label>
                                <div class="mr-4 pt-3 form-control border-0 Boxshadow bg-dark text-white mt-2" style="height:50px">
                                    <span>{{ user.people.region }}</span>
                                    <select name="region" class="float-left border-0 bg-dark text-white">
                                    {% for region in region %}
                                        <option value="{{ region }}">{{ region }}</option>
                                    {% endfor %}
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-11 col-lg-6">
                                <label class="mr-4 font-size3 text-dark font-weight-bold mt-3">تاريخ الميلاد</label>
                                <div class="mr-4 pt-3 form-control border-0 Boxshadow bg-dark text-white mt-2" style="height:50px">
                                    <span>{{ user.people.birth }}</span>
                                    <input type="date" class="float-left border-0 bg-dark text-white" placeholder="تاريخ الميلاد" name="birth">
                                </div>
                            </div>
                            <div class="col-sm-11 col-lg-6">
                                <label class="mr-4 font-size3 text-dark font-weight-bold mt-3">الجنس</label>
                                <div class="mr-4 pt-3 form-control border-0 Boxshadow bg-dark text-white mt-2" style="height:50px">
                                    <span>{{ user.people.gender }}</span>
                                    <select name="gender" class="float-left border-0 bg-dark text-white">
                                        {% for gender in gender %}
                                        <option value="{{gender}}">{{ gender }}</option>
                                    {% endfor %}
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-11 col-lg-6">
                                <label class="mr-4 font-size3 text-dark font-weight-bold mt-3">الوظيفة</label>
                                <input style="height:50px" type="text" class="mr-4 mt-2 form-control border-0 Boxshadow bg-dark text-white" placeholder="الوظيفة" name="employee" value="{{user.people.employee}}">
                            </div>
                            <div class="col-sm-11 col-lg-6">
                                <label class="mr-4 font-size3 text-dark font-weight-bold mt-3">facebook</label>
                                <input style="height:50px" type="url" class="mr-4 mt-2 form-control border-0 Boxshadow bg-dark text-white" placeholder="فيسبوك" name="facebook" value="{{user.people.facebook}}">
                            </div>
                        </div>
                        <input type="hidden" value="{{ user.id }}" name="user_id">
                        <button style="width:100%;height:60px" type="submit" class="mt-5 mb-5 mr-5 font-weight-bolder border-0 text-center text-white Borders1 bg-primary">اضافة</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="background4 m-5">
        {% if messages %} {% for message in messages %} {% if message.tags == 'success' %}
        <div class="alert alert-success text-center Boxshadow border-0 Borders4 text-primary font-weight-bold">{{ message }}</div>
        {% elif message.tags == 'error' %}
        <div class="alert alert-danger text-center Boxshadow border-0 Borders4 text-primary font-weight-bold">{{ message }}</div>
        {% endif %} {% endfor %} {% endif %}
    </div>
</div>





{% endblock main_content %}
<!-- /* ======== End Profile Page ======== */ -->