{% extends 'user_template/base_template.html' %} {% load static %}

<style>
    .loading {
        position: absolute;
        margin-right: 50%;
        top: 110%;
        transform: translate(-50%, -50%);
        display: flex;
    }
    
    .loading li {
        list-style: none;
        width: 20px;
        height: 20px;
        background: #ffeb3b;
        margin: 0px 0px 30px 5px;
        border-radius: 50%;
        animation: animate 1.4s linear infinite;
    }
    
    @keyframes animate {
        0% {
            transform: translateY(0);
        }
        60% {
            transform: translateY(0);
        }
        80% {
            transform: translateY(-20);
        }
        100% {
            transform: translateY(0);
        }
    }
    
    .loading li:nth-child(1) {
        animation-delay: 0;
    }
    
    .loading li:nth-child(2) {
        animation-delay: -1.2s;
    }
    
    .loading li:nth-child(3) {
        animation-delay: -1s;
    }
    
    .loading li:nth-child(4) {
        animation-delay: -.8s;
    }
    
    .loading li:nth-child(5) {
        animation-delay: -.6s;
    }
</style>


<!-- /* ======== Start Poster Page ======== */ -->
{% block main_content %}
<div class="background2 pt-4">
    <div class="Boxshadow bg-white row mr-4 ml-3 Borders4">
        <p class="col-sm-12 font-weight-bolder pt-5 text-center text-primary mr-2">تصفح الفرص التطوعية</p>
        <!-- <img style="width:100px;height:200px;margin-right:35%" class="mb-5" src="{% static 'iraq/images/Poster.png' %}" alt="Poster"> -->
        <div class="row">
            <div class="col text-center">
                <a class="text-decoration-none" href="{% url 'poster1' %}" method="get" name="q">
              الكل
          </a>
            </div>
            <div class="col text-center">
                <a class="text-decoration-none" href="{% url 'search_PosterEdu_results1' %}" method="get" name="q">
              تعليم
          </a>
            </div>
            <div class="col text-center">
                <a class="text-decoration-none" href="{% url 'search_PosterEnv_results1' %}" method="get" name="q">
              بيئة
          </a>
            </div>
            <div class="col text-center">
                <a class="text-decoration-none" href="{% url 'search_PosterHea_results1' %}" method="get" name="q">
              صحة
          </a>
            </div>
            <div class="col text-center">
                <a class="text-decoration-none" href="{% url 'search_PosterArt_results1' %}" method="get" name="q">
              فنون
          </a>
            </div>
            <div class="col text-center">
                <a class="text-decoration-none" href="{% url 'search_PosterOth_results1' %}" method="get" name="q">
              أخرى
          </a>
            </div>
        </div>
        <div class="row pt-4 pb-5">
            <div class="col text-center mt-4">
                <a href="{% url 'poster1' %}" class="pt-3 pb-3 pr-3 pl-3 text-decoration-none rounded-circle Boxshadow mr-2 text-primary" style="width:60px;height:60px;border:3px solid">
              الكل
          </a>
            </div>
            <div class=" col text-center">
                <a href="{% url 'search_PosterEdu_results1' %}"><img class="p-2 text-decoration-none rounded-circle Boxshadow mr-2 text-primary" style="width:60px;height:60px;border:3px solid" src="{% static 'iraq/images/Education.png' %}" alt="Education"></a>
            </div>
            <div class="col text-center">
                <a href="{% url 'search_PosterEnv_results1' %}"><img class="p-1 text-decoration-none rounded-circle Boxshadow mr-2 text-primary" style="width:60px;height:60px;border:3px solid" src="{% static 'iraq/images/Enviroment.png' %}" alt="Evolution"></a>
            </div>
            <div class="col text-center">
                <a href="{% url 'search_PosterHea_results1' %}"><img class="p-1 text-decoration-none rounded-circle Boxshadow mr-2 text-primary" style="width:60px;height:60px;border:3px solid" src="{% static 'iraq/images/health.png' %}" alt="Health"></a>
            </div>
            <div class="col text-center">
                <a href="{% url 'search_PosterArt_results1' %}"><img class="p-1 text-decoration-none rounded-circle Boxshadow mr-2 text-primary" style="width:60px;height:60px;border:3px solid" src="{% static 'iraq/images/art.png' %}" alt="Art"></a>
            </div>
            <div class="col text-center">
                <a href="{% url 'search_PosterOth_results1' %}"><img class="p-1 text-decoration-none rounded-circle Boxshadow mr-2 text-primary" style="width:60px;height:60px;border:3px solid" src="{% static 'iraq/images/others.png' %}" alt="Other"></a>
            </div>
        </div>
    </div>

    <div class="row pt-2">
        <p class="pt-4 text-center text-primary mr-5"> جميع الفرص التطوعية</p>
        <span class="bg-primary float-right mt-2 badge rounded-circle pt-3 pr-4 pl-4 Boxshadow text-white font-size3 mr-5" style="border:4px solid white" data-placement="top" title="عدد الاعلانات">{{num_poster}}</span>
    </div>
    <div class="form-group pr-5 pl-5 mt-3 mb-5">
        {% if messages %} {% for message in messages %} {% if message.tags == 'success' %}
        <div class="alert alert-success text-center Boxshadow border-0 Borders4">{{ message }}</div>
        {% elif message.tags == 'error' %}
        <div class="alert alert-danger text-center Boxshadow border-0 Borders4">{{ message }}</div>
        {% endif %} {% endfor %} {% endif %}
    </div>






    {% if object_list %} {% for poster in object_list %}
    <div class="Boxshadow text-center pb-4 bg-white" style="margin-left:10px;border-radius: 8px;margin-right:20px">
        <div class="row container mt-3 mb-5">
            <div class="col-sm-12 col-md text-center pt-4" data-placement="top" title="المكان">
                {{ poster.place }}
            </div>
            <div class="col-sm-12 col-md text-center pt-4" data-placement="top" title="عدد المتطوعين ">
                num volunteer
            </div>
            <div class="col-sm-12 col-md text-center pt-4" data-placement="top" title="يوم التطوع ">
                {{ poster.date_poster }}
            </div>
            <div class="col-sm-12 col-md text-center pt-4" data-placement="top" title="تاريخ التطوع ">
                {{ poster.time_poster }}
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-3">
                <img class="float-right mb-2 mr-2 ml-2 Borders" style="width:96%;height:90%" src="/media/{{ poster.poster_image }} " alt="Poster">
            </div>
            <div class="col-sm-12 col-md-9">
                <div class="row pt-4">
                    <div class="col-sm-12 col-md-4">
                        <a class="text-decoration-none text-center" href="{% url 'comments' %}">
                            <p class="text-primary font-weight-bold text-center" data-placement="top" title="اسم الؤسسة">{{ poster.name }}/{{poster.classification}}</p>
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-4 text-center">
                        <small class="font-size3"><i class="text-danger font-size">نشر  منذ ...</i>{{ poster.created_at|timesince}}</small>
                    </div>
                </div>
                <p class="p-3 mb-5 float-right font-size3">{{ poster.posts }}</p>
            </div>
        </div>
    </div>
    <!-- <div style=" ">
  <ul class="loading ">
    <li class=" "></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>                            
</div>  -->
    {% endfor %} {% else %}
    <div class="Boxshadow text-center mt-3 ml-3 Borders1 mr-4 background4">
        <div class="row">
            <div class="m-auto">
                <div class="mt-2 mb-2">
                    <p class="card-title font-weight-bold pb-4 pt-4 text-center Color" style="font-size:25px"> لا توجد معلومات</p>
                    <img class="mb-4" src="{% static 'iraq/images/informationR.png' %}" style="height:228px; width:313px; margin-right:70px;margin-top:20px" alt="Not Found">
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!--  -->
{% include 'iraq/pagination_obj.html' with page=posters %}
<!--  -->


<!--=-==Start Add Poster-->
{% include 'hod_template/add_poster.html' %}
<!--End Add Poster -->



{% comment %}
<!--=-==Start Edit Poster-->
{% include 'hod_template/edit_poster.html' %}
<!--End Edit Poster -->{% endcomment %}
<!--  -->
{% endblock %}


<!-- /* ======== End Poster Page ======== */ -->