 {% extends "iraq/base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row" style="margin-top: 100px;margin-bottom: 100px">
    <div class="col pt-5 pb-5 Boxshadow Borders1 border-0 ">
      <div class="col-sm col-lg-12  ">
        <a class="nav-link font-weight-bolder Color text-center"  href="{% url 'register_intities' %}" style= "font-size:20px;">تسجيل المؤسسة</a>
        <img  class="mt-5 p-5" src="{% static 'iraq/images/intities.png' %}" alt="app" >
      </div>
    </div>
    <div id="col2" class="col pt-5 pb-5 Boxshadow Borders1 border-0">
      <div class="col-sm col-lg-12">
         <a class="nav-link font-weight-bolder Color text-center" href="{% url 'register_user' %}"  style= "font-size:20px;">تسجيل المستخدم</a>
        <img class="mt-5" src="{% static 'iraq/images/user.png' %}" alt="app" style="padding-right:100px;width:80%">
      </div>
    </div>
  </div>
</div>









{% endblock %}
